@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<nav id="storageConsent" class="navbar navbar-default navbar-fixed-top bg-info" role="alert" style="display:none">
	<div class="navbar-text text-white">
		<p>@Localizer["storageDescription"]</p>
		<p>@Localizer["storageAcknowledge", Localizer["OK"]]</p>
		<button type="button" class="btn" onclick="javascript:acknowledgeStorage()">@Localizer["OK"]</button>
	</div>
</nav>
<script>
	if (localStorage.getItem("useStorage") !== null)
		document.getElementById("storageConsent").remove();
	else
		document.getElementById("storageConsent").style.display = null;

	function acknowledgeStorage()
	{
		localStorage.setItem("useStorage", true);
		document.getElementById("storageConsent").remove();
	}
</script>